<div>
    Address: <input type="text" ng-model="newRental.name"> <br>
    # Bedrooms: <input type="text" ng-model="newRental.bedroomCount"> <br>
    # Bathrooms: <input type="text" ng-model="newRental.bathroomCount"> <br>
    Minimum Rental Amt: <input type="text" ng-model="newRental.minRent"> <br>
    Maximum Rental Amt: <input type="text" ng-model="newRental.maxRent"> <br>
    <button ng-click="searchRentals(newRental)">Search Rentals</button><br>
    <hr>
 </div>
 <table>
    <tr>
        <th>Name</th>
        <th>&nbsp;</th>
    </tr>
    <tr ng-repeat='rental in rentals.rentals[0]'>
        <td>[{rental.address}]</td>
        <td ng-show="rental.commercialID > 0"><a ng-href="#/editCommercial?commercialID=[{rental.commercialID}]">Edit Commercial Rental</a></td>
        <td ng-show="rental.residentialID > 0"><a ng-href="#/editResidential?commercialID=residentialID=[{rental.residentialID}]">Edit Residential Rental</a></td>
        <td ng-show="rental.storageID > 0"><a ng-href="#/editStorage?storageID=[{rental.storageID}]">Edit Storage Rental</a></td>
    </tr>
</table>
 <div>
    <hr>
    <a href="#/addCommercial">Add New Commercial Listing</a>
    <hr>
    <hr>
    <a href="#/addResidential">Add New Residential Listing</a>
    <hr>
    <hr>
    <a href="#/addStorage">Add New Storage Listing</a>
    <hr>        
</div>
<div>
    <hr>
    <a href="#/changePassword">Change Admin Password</a>
    <hr>   
</div>    