<div>

    Address: <input type="text" ng-model="Commercial.address"><br><br>
    City: <input type="text" ng-model="Commercial.city"><br><br>
    State: <input type="text" ng-model="Commercial.state"><br><br>
    Zip: <input type="text" ng-model="Commercial.zip"><br><br>
    Monthly Rent: <input type="text" ng-model="Commercial.rentAmt"><br><br>

    Description: <br>
        <input type="textArea" ng-model="Commercial.description"><br><br>


    <h4>View Images</h4>


   <br><br>

  <ul>
    <li ng-repeat="f in CommercialAttachment" style="font:smaller">
      <img ng-show="isImage(f.filePath)" ngf-src="f.filePath" class="thumb" height="42" width="42">[{f.filePath}]

    </li>

  </ul>
  <br> 

    <hr>   
 </div>